node-RED-export.txt
[{"id":"6759b5bb.48c2fc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"dccb83e2.96c16","type":"function","z":"6759b5bb.48c2fc","name":"convert","func":"\nreturn {\n  payload: {\n        lat: msg.payload.lat,\n        lon: msg.payload.long,\n        name: \"BASE\",\n        popped: true\n  }\n};","outputs":1,"noerr":0,"x":1100,"y":1060,"wires":[["c4ea31f9.7d4ee","318c1e2a.bcc712"]]},{"id":"e480b28a.5ba26","type":"json","z":"6759b5bb.48c2fc","name":"","property":"payload","action":"","pretty":false,"x":890,"y":1060,"wires":[["dccb83e2.96c16"]]},{"id":"c4ea31f9.7d4ee","type":"worldmap","z":"6759b5bb.48c2fc","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1340,"y":1060,"wires":[]},{"id":"e99d0594.0590b8","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":7,"width":"1","height":"1","passthru":false,"label":"W","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-0.0001","payloadType":"str","topic":"","x":450,"y":380,"wires":[["a16f719.c22c99"]]},{"id":"5e2cf2e7.59731c","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":13,"width":"1","height":"1","passthru":false,"label":"S","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0.0001","payloadType":"str","topic":"","x":450,"y":300,"wires":[["3bdc2edc.223062"]]},{"id":"f0dcda8e.ea0f88","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":9,"width":"1","height":"1","passthru":false,"label":"E","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0.0001","payloadType":"str","topic":"","x":450,"y":220,"wires":[["5c65f4a2.0693bc"]]},{"id":"b495e.f66196a2","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":3,"width":"1","height":"1","passthru":false,"label":"N","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":140,"wires":[["6c2790d.f07717"]]},{"id":"80b2ece1.495bc","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":17,"width":"3","height":"1","passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":440,"wires":[["11043cee.6aa643"]]},{"id":"6c2790d.f07717","type":"function","z":"6759b5bb.48c2fc","name":"","func":"value = flow.get('up')||0;\nvalue++;\nflow.set('up',value);\nlatvalue = flow.get('lat')+ 0.0001;\nflow.set('lat',latvalue);\nreturn { payload : value };","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["5434204.2cbd0e"]]},{"id":"a16f719.c22c99","type":"function","z":"6759b5bb.48c2fc","name":"","func":"value = flow.get('left')||0;\nvalue++;\nflow.set('left',value);\nlonvalue = flow.get('lon')- 0.0001;\nflow.set('lon',lonvalue);\nreturn { payload : value };","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["5434204.2cbd0e"]]},{"id":"5c65f4a2.0693bc","type":"function","z":"6759b5bb.48c2fc","name":"","func":"value = flow.get('right')||0;\nvalue++;\nflow.set('right',value);\nlonvalue = flow.get('lon')+ 0.0001;\nflow.set('lon',lonvalue);\nreturn { payload : value };","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["5434204.2cbd0e"]]},{"id":"3bdc2edc.223062","type":"function","z":"6759b5bb.48c2fc","name":"","func":"value = flow.get('down')||0;\nvalue++;\nflow.set('down',value);\nlatvalue = flow.get('lat')- 0.0001;\nflow.set('lat',latvalue);\nreturn { payload : value };","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["5434204.2cbd0e"]]},{"id":"11043cee.6aa643","type":"function","z":"6759b5bb.48c2fc","name":"","func":"value=0;\nflow.set('up',value);\nflow.set('left',value);\nflow.set('right',value);\nflow.set('down',value);\nflow.set('lon',23.734996);\nflow.set('lat',37.975564);\nreturn { payload : value };\n","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["5434204.2cbd0e"]]},{"id":"3404454.2d45cba","type":"function","z":"6759b5bb.48c2fc","name":"WorldMap Prep","func":"return {\n  payload: {\n        lat: flow.get('lat'),\n        lon: flow.get('lon'),\n        name: \"Quad\",\n        popped: false\n  }\n};","outputs":1,"noerr":0,"x":1480,"y":300,"wires":[["3c8042f2.42890e"]]},{"id":"29514877.012288","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":14,"width":"1","height":"1","passthru":false,"label":"SE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":260,"wires":[["9d173f81.db0ae"]]},{"id":"b53b033e.9ef93","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":12,"width":"1","height":"1","passthru":false,"label":"SW","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":340,"wires":[["46c98f62.2895"]]},{"id":"f85c52c8.7452e","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":2,"width":"1","height":"1","passthru":false,"label":"NW","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":100,"wires":[["582adcf7.9e9a44"]]},{"id":"6e49ae46.ef68c","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":4,"width":"1","height":"1","passthru":false,"label":"NE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":180,"wires":[["581dcb2.cb57e34"]]},{"id":"10ab2d.0a28b4d4","type":"ui_text_input","z":"6759b5bb.48c2fc","name":"","label":"Lon","tooltip":"","group":"263f3d4a.d0053a","order":11,"width":"5","height":"1","passthru":true,"mode":"number","delay":"2000","topic":"","x":1130,"y":260,"wires":[["2f66b25.d96a04e"]]},{"id":"e1f1331f.6e118","type":"function","z":"6759b5bb.48c2fc","name":"Lat Lon","func":"var long = { payload: flow.get('lon')}\nvar lati = { payload: flow.get('lat')}\n\nreturn [lati, long];","outputs":2,"noerr":0,"x":980,"y":240,"wires":[["2612edcb.301292"],["10ab2d.0a28b4d4"]]},{"id":"22c8ad87.2fc242","type":"function","z":"6759b5bb.48c2fc","name":"","func":"\nflow.set('lat',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":220,"wires":[["3404454.2d45cba"]]},{"id":"2612edcb.301292","type":"ui_text_input","z":"6759b5bb.48c2fc","name":"","label":"Lat","tooltip":"","group":"263f3d4a.d0053a","order":6,"width":"5","height":"1","passthru":true,"mode":"number","delay":300,"topic":"","x":1130,"y":220,"wires":[["22c8ad87.2fc242"]]},{"id":"5434204.2cbd0e","type":"function","z":"6759b5bb.48c2fc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["3404454.2d45cba","e1f1331f.6e118"]]},{"id":"582adcf7.9e9a44","type":"function","z":"6759b5bb.48c2fc","name":"","func":"value = flow.get('up')||0;\nvalue++;\nflow.set('up',value);\nlatvalue = flow.get('lat')+ 0.0001;\nflow.set('lat',latvalue);\nvalue2 = flow.get('left')||0;\nvalue2++;\nflow.set('left',value2);\nlonvalue = flow.get('lon')- 0.0001;\nflow.set('lon',lonvalue);\nreturn { payload : value };","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["5434204.2cbd0e"]]},{"id":"581dcb2.cb57e34","type":"function","z":"6759b5bb.48c2fc","name":"","func":"value = flow.get('up')||0;\nvalue++;\nflow.set('up',value);\nlatvalue = flow.get('lat')+ 0.0001;\nflow.set('lat',latvalue);\nvalue2 = flow.get('right')||0;\nvalue2++;\nflow.set('right',value2);\nlonvalue = flow.get('lon')+ 0.0001;\nflow.set('lon',lonvalue);\nreturn { payload : value };","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["5434204.2cbd0e"]]},{"id":"9d173f81.db0ae","type":"function","z":"6759b5bb.48c2fc","name":"","func":"value = flow.get('down')||0;\nvalue++;\nflow.set('down',value);\nlatvalue = flow.get('lat')- 0.0001;\nflow.set('lat',latvalue);\nvalue2 = flow.get('right')||0;\nvalue2++;\nflow.set('right',value2);\nlonvalue = flow.get('lon')+ 0.0001;\nflow.set('lon',lonvalue);\nreturn { payload : value };","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["5434204.2cbd0e"]]},{"id":"46c98f62.2895","type":"function","z":"6759b5bb.48c2fc","name":"","func":"value = flow.get('down')||0;\nvalue++;\nflow.set('down',value);\nlatvalue = flow.get('lat')- 0.0001;\nflow.set('lat',latvalue);\nvalue2 = flow.get('right')||0;\nvalue2++;\nflow.set('right',value2);\nlonvalue = flow.get('lon')- 0.0001;\nflow.set('lon',lonvalue);\nreturn { payload : value };","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["5434204.2cbd0e"]]},{"id":"2f66b25.d96a04e","type":"function","z":"6759b5bb.48c2fc","name":"","func":"\nflow.set('lon',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":1270,"y":260,"wires":[["3404454.2d45cba"]]},{"id":"3c8042f2.42890e","type":"worldmap","z":"6759b5bb.48c2fc","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1660,"y":300,"wires":[]},{"id":"1abeb24a.764a9e","type":"ui_dropdown","z":"6759b5bb.48c2fc","name":"","label":"Points of interest","tooltip":"","place":"Select option","group":"263f3d4a.d0053a","order":16,"width":"8","height":"1","passthru":true,"options":[],"payload":"","topic":"","x":1130,"y":880,"wires":[["40fd7241.4fcc6c"]]},{"id":"f5fd9da7.90fe6","type":"worldmap in","z":"6759b5bb.48c2fc","name":"","path":"/worldmap","events":"all","x":460,"y":800,"wires":[["6326eb2b.2e59d4","393cdda.9d97822"]]},{"id":"393cdda.9d97822","type":"function","z":"6759b5bb.48c2fc","name":"Worldmap Point to Go prep","func":"if (msg.payload.action == 'click')\n{\n    \n    flow.set('lon',msg.payload.lon);\n    flow.set('lat',msg.payload.lat);\n}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":800,"wires":[[]]},{"id":"6326eb2b.2e59d4","type":"function","z":"6759b5bb.48c2fc","name":"Creation and deletion of points","func":"var i,y,newtab,tab,lat,lon,newlon,newlat;\n\ntab=flow.get('table');\nlat=flow.get('tablat');\nlon=flow.get('tablon');\n\n\nif (msg.payload.action == 'point')\n{\n\ntab[tab.length]=msg.payload.name;\nlat[lat.length]=msg.payload.lat;\nlon[lon.length]=msg.payload.lon;\n\n\n}\n\nif (msg.payload.action == 'delete')\n{\n    newtab=[\"\"];\n    newlat=[0];\n    newlon=[0];\n    y=0;\n\n    for (i = 0; i < tab.length; i++) {\n        if( tab[i]==msg.payload.name)\n            {\n                i++;\n            }\n            \n        newtab[y]=tab[i];\n        newlat[y]=lat[i];\n        newlon[y]=lon[i];\n        \n        y++;\n    } \n    tab=newtab;\n    lat=newlat;\n    lon=newlon;\n \n//    flow.set('table',newtable);\n}\n\nflow.set('table',tab);\nflow.set('tablat',lat);\nflow.set('tablon',lon);\n\nmsg.options=tab;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":880,"wires":[["1abeb24a.764a9e"]]},{"id":"40fd7241.4fcc6c","type":"function","z":"6759b5bb.48c2fc","name":"Table Search and worldmap prep","func":"var i,name,lontemp,lattemp,nametemp,lon,lat;\n\nname=flow.get('table');\nlon=flow.get('tablon');\nlat=flow.get('tablat');\n\nfor (i = 0; i < name.length; i++) \n    {\n        if (name[i]==msg.payload)\n        {\n            nametemp=name[i];\n            lontemp=lon[i];\n            lattemp=lat[i];\n            \n            flow.set('lon',lontemp);\n            flow.set('lat',lattemp);\n        }\n    }\n\nreturn {\n  payload: {\n    lat: lattemp,\n    lon: lontemp,\n    name: nametemp,\n    popped: true,\n  }\n};","outputs":1,"noerr":0,"x":1400,"y":880,"wires":[["fa36a7b3.e02798"]]},{"id":"fa36a7b3.e02798","type":"worldmap","z":"6759b5bb.48c2fc","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1640,"y":880,"wires":[]},{"id":"7f7bbd8b.e0ee84","type":"ui_button","z":"6759b5bb.48c2fc","name":"","group":"263f3d4a.d0053a","order":8,"width":"1","height":"1","passthru":false,"label":"GO","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":590,"y":600,"wires":[["27add546.996daa"]]},{"id":"27add546.996daa","type":"function","z":"6759b5bb.48c2fc","name":"","func":"\nreturn {\n  payload: {\n    lon: flow.get('lon'),\n    lat: flow.get('lat'),\n    name: \"Destination\",\n    popped: true,\n    icon: 'https://www.pikpng.com/pngl/b/205-2055389_drone-icon-header-facebook-drone-icon-clipart.png'\n  }\n};","outputs":1,"noerr":0,"x":750,"y":600,"wires":[["a4016dfa.0a513","d72e60a9.2e057","c170cbf5.76df58"]]},{"id":"a4016dfa.0a513","type":"function","z":"6759b5bb.48c2fc","name":"Delete Temp","func":"\nreturn {\n  payload: {\nname: \"Quad\",\ndeleted: true ,\n  }\n};","outputs":1,"noerr":0,"x":1010,"y":640,"wires":[["d72e60a9.2e057"]]},{"id":"d72e60a9.2e057","type":"worldmap","z":"6759b5bb.48c2fc","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1280,"y":600,"wires":[]},{"id":"7a74e7.aa05ab18","type":"mqtt in","z":"6759b5bb.48c2fc","name":"","topic":"/data","qos":"2","broker":"14fbd508.d5691b","x":690,"y":1060,"wires":[["e480b28a.5ba26"]]},{"id":"250151e5.855aae","type":"ui_worldmap","z":"6759b5bb.48c2fc","group":"263f3d4a.d0053a","order":1,"width":"0","height":"0","name":"","lat":"37.967297","lon":"23.7478711","zoom":"14","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"dms","showgrid":"false","path":"/worldmap","x":1120,"y":120,"wires":[]},{"id":"318c1e2a.bcc712","type":"debug","z":"6759b5bb.48c2fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1140,"wires":[]},{"id":"a60e03e.d0ea9","type":"mqtt out","z":"6759b5bb.48c2fc","name":"","topic":"","qos":"","retain":"","broker":"14fbd508.d5691b","x":1270,"y":540,"wires":[]},{"id":"c170cbf5.76df58","type":"function","z":"6759b5bb.48c2fc","name":"Lat lon MQTT Prep","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":540,"wires":[["a60e03e.d0ea9"]]},{"id":"263f3d4a.d0053a","type":"ui_group","z":"","name":"DRONE CONTROLS","tab":"3695d08a.0d186","disp":true,"width":"12","collapse":false},{"id":"14fbd508.d5691b","type":"mqtt-broker","z":"","name":"tsir","broker":"nodered.telsip.uniwa.gr","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3695d08a.0d186","type":"ui_tab","z":"","name":"DRONE","icon":"dashboard","order":1,"disabled":false,"hidden":false}]